<ul class="nav nav-tabs">
	<li role="presentation"><%= link_to 'Start new', controller: "basics", action: "welcome", id: @basic %></li>
  <li role="presentation" class="active"><%= link_to 'Spaces', edit_basic_path(@basic) %></li>
  <li role="presentation"><%= link_to 'Space Type', basic_space_categories_path(@basic) %></li>
  <li role="presentation"><%= link_to 'Occupant Type', basic_occupant_categories_path(@basic)%></li>
  <li role="presentation"><%= link_to 'Simulate', controller: "basics", action: "simulate", id: @basic %></li>
</ul>
<div class="bs-callout bs-callout-info my_note">
	<h5>Notes:</h5>
	<li>Space type defines the usage, occupancy density and possible meeting schedules of a space, and can be edited in the "Space Type" tab.</li>
	<li>Occupants in a space only include permanent room users but not occupants with a short stay.</li>
	<li>Spaces of the same type and occupancts details can be set with a space multiplier, and each space would be named by adding a suffix in sequence number (e.g., Space 1 - 1, Space 1 - 2). </li>
</div>
<div class="panel panel-default my_top_2">
  <div class="panel-heading my_indent"><h5>Basic Info</h5></div>
  <div class="panel-body">
  	
  	<div class = "media">
			<div class = "media-body">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my_table">
					<table class = "table">
					  <thead>
					    <tr>
					      <th>Building Type   </th>
					      <th>Total Area (sf) </th>
					    </tr>
					  </thead>
					  <tbody>
						  <tr>
						    <td><%= @basic.buildingType %></td>
						    <td><%= @basic.total_area %></td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>
<div class="panel panel-default my_top_2">
  <div class="panel-heading my_indent"><h5>Space List</h5></div>
  <div class="panel-body">
    <% if @basic.errors.any? %>
		  <div class="alert alert-warning" role="alert">
		    <%= "Error:"%> 
		    <ul>
		    <% @basic.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
		
		
		<div class = "media">
			<div class = "media-body" id="space_form" >
				<%= form_tag(:controller => :basics, :action => :update_zone, :method => :post, :id=> @basic.id, :anchor=> "space_form") do -%>		
				<table class = "table table-hover">
				  <thead>
				    <tr>
				      <th>Name                </th>
				      <th>Space type          </th>
				      <th>Area (sf)           </th>
				      <th>Number of occupants</th>
				      <th>Space multiplier    </th>
				      <th colspan="1">        </th>
				    </tr>
				  </thead>
				  <tbody>		  
				  	<% @basic.spaces.each do |space| %>
						  <tr>
						    <td><%= text_field_tag("space_name#{space.id}", space.name, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= select_tag("space_spaceType#{space.id}", options_for_select(@basic.space_categories.all, space.spaceType), {:onchange=> "this.form.submit()", :class=> 'my_select'}) %></td>
						    
						    <td><%= text_field_tag("space_area#{space.id}", space.area, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= label_tag("", space.occupant_num, {:onchange=> "this.form.submit()", :class=> "form-control", :id=>"disabledInput"})%></td>
						    <td><%= text_field_tag("space_multiplier#{space.id}", space.multiplier, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= link_to "Delete", [space.basic, space], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-default"%></td>
						  </tr>
						<% end %>
				  </tbody>
				</table>
				<%= submit_tag "Add new space", class: "btn btn-large btn-info" %>
				<% end %>
			</div>
		</div>
		
  </div>
</div>
<%= link_to 'Continue', basic_space_categories_path(@basic), class: "btn btn-large btn-primary my_right" %>





