<div class="container">
	<ul class="nav nav-tabs my_nav">
	  <li role="presentation" class="active"><%= link_to 'Building input', edit_basic_path(@basic) %></li>
	  <li role="presentation"><%= link_to 'Space input', basic_space_categories_path(@basic) %></li>
	  <li role="presentation"><%= link_to 'Occupant input', basic_occupant_categories_path(@basic)%></li>
	</ul>
	<div class="page-header">
		<h5 = "my_h5">Building Type</h5>
	</div>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    <%= @basic.buildingType %>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><%= link_to "Office", {:controller => 'basics', :action => 'edit', :id => "1"}%></li>
	    <li><%= link_to "Residential", {:controller => 'basics', :action => 'edit', :id => "2"}%></li>
	  </ul>
	</div>
	<div class="page-header">
		<h5 class = "my_h5">Zone List</h5>
	</div>
	<% if @basic.errors.any? %>
	  <div class="alert alert-warning" role="alert">
	    <%= "Error:"%> 
	    <ul>
	    <% @basic.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	<%= form_tag(:controller => :basics, :action => :update_zone, :method => :post, :id=> @basic.id) do -%>		
		<div class = "media">
			<div class = "media-body">
				<table class = "table table-hover">
				  <thead>
				    <tr>
				      <th>Name      </th>
				      <th>Spacetype </th>
				      <th>Multiplier</th>
				      <th>Area      </th>
				      <th colspan="2"></th>
				    </tr>
				  </thead>
				  <tbody>		  
				  	<% @basic.spaces.each do |space| %>
						  <tr>
						    <td><%= text_field_tag("space_name#{space.id}", space.name, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= select_tag("space_spaceType#{space.id}", options_for_select(@basic.space_categories.all, space.spaceType), {:onchange=> "this.form.submit()", :class=> 'my_select'}) %></td>
						    <td><%= text_field_tag("space_multiplier#{space.id}", space.multiplier, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= text_field_tag("space_area#{space.id}", space.area, {:onchange=> "this.form.submit()", :class=> "form-control" })%></td>
						    <td><%= link_to "Delete", [space.basic, space], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-default"%></td>
						  </tr>
						<% end %>
				  </tbody>
				</table>
				<%= submit_tag "Add new zone", class: "btn btn-large btn-info" %>
				<%= link_to "New Zone Type", new_basic_space_category_path(@basic), class: "btn btn-large btn-primary" %>
				<%= link_to 'Continue', basic_space_categories_path(@basic), class: "btn btn-large btn-primary my_right" %>
			</div>
		</div>
	<% end %>
	
</div>


