<%= form_for([@basic, @basic.occupant_categories.build]) do |f| %>			
	<div class = "media">
		<div class = "media-body">
			<table class = "table table-hover">
			  <thead>
			    <tr>
			    	<th>Event</th>
			      <th>Typical Time</th>
			      <th>Start Time</th>
			      <th>End Time</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<td>Arrival</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :ATypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :AStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :AEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			    <tr>
			  		<td>Work morning</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WMTypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WMStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WMEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			    <tr>
			  		<td>Go to lunch</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :GTLTypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :GTLStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :GTLEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			    <tr>
			  		<td>Back from lunch</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :BFLTypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :BFLStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :BFLEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			    <tr>
			  		<td>Work afternoon</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WATypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WAStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :WAEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			    <tr>
			  		<td>Departure</td>
			      <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :DTypical, class: "form-control" %>
					    </div>
					  </td>		  		  
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :DStart, class: "form-control"%>
					    </div>
					  </td>
					  <td>
					  	<div class="form-group my_td">		    	
						  	<%= f.time_field :DEnd, class: "form-control"%>
					    </div>
					  </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
<% end %>
			
